<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<style type="text/css">
		form{
			margin-bottom: 30px;
			padding-top: 20px;
			margin-left: 25%
		}
	</style>
	<title></title>
</head>
<body>
	
<div class="container">
	<form action="/search" method="GET">
	<input type="text" name="movie" placeholder="Movie" class="form-control" style="width: 60%" autocomplete="off">
	<button class="btn btn-primary" style="width: 40%;margin-left: 10%; margin-top: 5px;">Search</button>
</form>
</div>

</body>
</html>